
:root{

    --blue-forte: #373854;
    --purple-forte: #493267;
    --purple: #9e379f;
    --pink: #e86af0;
    --blue-light: #7bb3ff;
    /*Tamaño de fuentes*/
    --sm: 14px;
    --sm: 18px;
    --md: 26px;
    --lg: 36px;

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--blue-light);
    font-family: sans-serif;
}
.first-container{
    margin: 16px auto;
    padding: 20px;
    text-align: center;
    width: 80%;
    background-image: url("https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg");
    border-radius: 15px;
    color: black;
}

.title{
    font-size: var(--lg);
    margin: 0;
}

.job{
    display: inline;
}

.programmer{
    border-radius: 10px;
    width: 56px;
    margin-left: 16px;
    position: relative;
    top: 12px;
}

.subtitle{
    font-size: var(--sm);
}

.navbar{
    width: 10%;
    margin: 12px auto;
    margin-left: 12px;
    border-radius: 20px;
    text-align: center;
    position: fixed;
}

.navbar ul{
    list-style: none;
    background-color: var(--purple-forte);
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
}

.navbar li a{
    display: block;
    color: var(--blue-light);
    padding: 12px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: var(--purple);
}

.second-container{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 68%;
    margin: 40px auto;
}

.Dom{
    border: 3px solid var(--purple-forte);
    border-radius: 50%;
}

.Nat{
    transform: rotate(-90deg);
    margin-left: 30px;
    padding: 0;
    border-radius: 10px;
}

.third-container{

}
.fourth-container{

}
